input, textarea {
    &.ng-invalid.ng-touched {
        border: 1px solid red;
    }

    &.ng-valid.ng-touched {
        border: 1px solid green;
    }
}

.card {
    width: 550px;
    margin: 0 auto;
    background: #f2f2f2;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.55);
}

.form-control input {
   
    border-radius: 4px;
}
.title {
    font-size: 24px;
}
.btn {
    color: #000;
    border: 1px solid gray;
    border-radius: 4px;
    background: rgb(226,226,226);
    background: linear-gradient(0deg, rgba(226,226,226,1) 0%, rgba(205,205,205,1) 0%, rgba(255,255,255,1) 100%);
}
label {
    font-weight: normal;
}